body{
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    }

p{
 color: rgb(178, 24, 209);
 font-family: Arial, Helvetica, sans-serif;
 font-size: 20px;
}

